#version=RHEL8
# Use graphical install
#graphical

repo --name="Minimal" --baseurl=file:///run/install/sources/mount-0000-cdrom/Minimal

%packages
@^server-product-environment

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=howhow.com

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone Asia/Taipei --isUtc

# Root password
rootpw --iscrypted $6$0J75AgN9ea8KcMDf$MqdgpSowjRuEz8DWKKyJhPExeE6xR/SK67nabfOK6fPk8aNMkNbLRWjzgUWq0sZ7L6ub3ujG6Icwgu2BX8ZKp/
user --groups=wheel --name=howhow --password=$6$0nMns164z93yo1QY$tNuz0mgKFZWs.ka1Y/V/qswBjhmwnzdDSHAYB/2UfPOxJbnFGAYqjexxPR0jRp.3FSNbRrojCsT.5AG/.VD0b0 --iscrypted --gecos="howhow"



text
reboot

%packages
vim
bash-completion
lsof

%end


%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
